* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
/* Untility Classes */
.container {
  max-width: 1440px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
}
p {
  margin: 1.75rem 0;
}
.btn {
  background: #e02c6d;
  color: #fff;
  padding: 10px 24px;
  border-radius: 41px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 24px;
  transition: 0.5s;
}
.btn i {
  margin-left: 8px;
}
.btn:hover {
  background: #3a3a3a;
  color: #fff;
}
.m-heading {
  font-size: 24px;
}
/* Header & Hero Banner */
header {
  padding: 80px 0;
}
/* Navbar */
.navbar .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.navbar .container .logo {
  font-weight: 700;
  font-size: 24px;
}
.navbar .container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navbar .container ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0.6rem;
  padding: 0.75rem;
  transition: 0.4s;
}
.navbar .container ul li a:hover {
  color: #e02c6d;
}
/* banner */
.hero-banner {
  padding: 50px 0;
}
.hero-banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  /* padding: 50px 0; */
}
.banner-text {
  flex: 1;
}
.banner-text h1 {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
  line-height: 1.5;
}
.banner-photo {
  background-image: url("./images/circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  flex: 1;
}
.banner-photo img {
  width: 70%;
  display: block;
  margin: auto auto;
  transition: transform 0.5s ease-in-out;
}
.banner-photo img:hover {
  transform: scale(1.2);
}
/* Company logos */
.company .container {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 50px 3%;
  border-top: 2px solid #f4f4f4;
  border-bottom: 2px solid #f4f4f4;
}
.company .company-logo {
  width: 150px;
}
.company .company-logo img {
  width: 80%;
}
/* All collection */
.product-container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-container .container a {
  display: block;
  text-align: right;
  color: #e02c6d;
}
.product-container h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 74px;
  color: #3a3a3a;
}
.all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
  margin: 30px 0px;
}
.all-products .product {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.product-photo img {
  width: 100%;
}
.product .product-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  margin: 16px 0;
}
.product .price {
  font-size: 24px;
  font-weight: 500;
}
.product .fas {
  color: #fb8200;
}
.product p {
  margin: 0.75rem 0;
}
/* Footer */
footer {
  background: #0a0826;
  padding: 50px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .social-icon {
  display: flex;
  justify-content: space-evenly;
}
footer .footer-wrapper .social-icon a p {
  display: block;
  height: 30px;
  width: 30px;
  background: #e02c6d;
  padding: 10px;
  border-radius: 40%;
  font-size: 25px;
}
